/*
* Pin Info Box
*/
.pinInfoBox
  &__name
    font-size: 12pt
    color: #00C5FA
  &__address 
    margin-bottom: 5px
  &__button 
    display: block!important
    margin-left: auto!important
    margin-top: 20px!important;
    font-size: 10pt
  &__rating,
  &__price
    display: inline-block
  &__price
    margin-left: 5px
  &__rating,
  &__categories
    font-size: 8pt
  &__categories
    color: grey
  &__image
    margin-top: 20px
    margin-bottom: 5px
    img
      max-height: 100px
      margin: 0 auto
      display: block
.fa-star
  color: #FCEC36!important
  text-shadow: 0px 0px 1px rgba(0,0,0,0.6)

/*
* Pin Creation Box
*/
.pinCreationInfoBox
  &__title
    margin-bottom: 20px
    font-size: 12pt
  &__form
    &__nameInput,
    &__addressInput
      &__label
        width: 100%
      &__input
        width: 100%
    &__addressInput
      margin-bottom: 20px

